<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/practr_small.png'%}">
	<link rel="icon" type="image/png" href="{% static 'assets/img/practr_small.png'%}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Create Event</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!--     Fonts and icons     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">

	<!-- CSS Files -->
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet" />
	<link href="{% static 'assets/css/gsdk-bootstrap-wizard.css'%}" rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="{%static 'assets/css/demo.css'%}" rel="stylesheet" />
</head>
<body>
<div class="image-container set-full-height" style="background-image: url('{% static 'assets/img/login.jpeg'%}')">

	<!--  Made With Get Shit Done Kit  -->
		<a href="/user/club_dashboard" class="made-with-mk">
			<div class="brand">PR</div>
			<div class="made-with">Made with <strong>Love</strong></div>
		</a>

    <!--   Big container   -->
    <div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <!--      Wizard container        -->
            <div class="wizard-container">

                <div class="card wizard-card" data-color="blue" id="wizardProfile">
                    <form action="" method="post" enctype="multipart/form-data">

                <!--        You can switch ' data-color="orange" '  with one of the next bright colors: "blue", "green", "orange", "red"          -->
                        {% csrf_token %}
                    	<div class="wizard-header">
                        	<h3>
                        	   <b>BUILD</b> YOUR EVENT <br>
                        	   <small>This information will let us know more about your event.</small>
                        	</h3>
                    	</div>

						<div class="wizard-navigation">
							<ul>
	                            <li><a href="#about" data-toggle="tab">About</a></li>
                                <li><a href="#registration" data-toggle="tab">Setup</a></li>
{#                                <li><a href="#teams" data-toggle="tab">Format</a></li>#}
                                <li><a href="#account" data-toggle="tab">Sub Events</a></li>
	                        </ul>
						</div>
                        <div class="tab-content">
                            <div class="tab-pane" id="about">
                              <div class="row">
                                  <h4 class="info-text"> Let's start with the basics</h4>
                                  <div class="col-sm-4 col-sm-offset-1">
                                     <div class="picture-container">
                                          <div class="picture">
                                              <img src="{% static 'assets/img/default-avatar.png'%}" class="picture-src" id="wizardPicturePreview" title=""/>
                                              {{ form.logo }}
                                          </div>
                                          <h6>Choose Picture</h6>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                        <label> Name Of Event <small>(required)</small></label>
                                        {{ form.name }}
                                      </div>
                                      <div class="form-group">
                                        <label>Website <small>(required)</small></label>
                                        {{ form.website }}
                                      </div>
                                  </div>
                                  <div class="col-sm-10 col-sm-offset-1">
                                      <div class="form-group">
                                          <label>About<small> (required)</small></label>
                                          {{ form.about }}
                                      </div>
                                  </div>
                              </div>
                            </div>
{#                            <div class="tab-pane" id="teams">#}
{#                                <h4 class="info-text">What Format Are You Accepting Registrations?</h4>#}
{#                                <h5 class="info-text">You can change the format later</h5>#}
{#                                <div class="row">#}
{#                                    <div class="col-sm-10 col-sm-offset-1">#}
{#                                        <div class="col-sm-4 col-sm-offset-2">#}
{#                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Default Solo Event?">#}
{#                                                <input type="radio" name="solo" value="Solo">#}
{#                                                <div class="icon">#}
{#                                                    <i class="fa fa-male"></i>#}
{#                                                </div>#}
{#                                                <h6>Solo</h6>#}
{#                                            </div>#}
{#                            </div>#}
{#                             <div class="col-sm-4">#}
{#                            <div class="choice" data-toggle="wizard-radio" disabled='True' rel="tooltip" title="Team Registrations Coming Soon!">#}
{#                                <a href="#default" data-toggle="modal">#}
{#                                                <input type="radio" name="team" value="" disabled>#}
{#                                                <div class="icon">#}
{#                                                    <i class="fa fa-group"></i>#}
{#                                                </div>#}
{#                                                <h6>Team</h6>#}
{#                                </a>#}
{#                            </div>#}
{#                             </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="tab-pane" id="registration">
                                <h4 class="info-text">Allow Students To Register for Multiple Events?</h4>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="col-sm-4 col-sm-offset-2">
                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Allow Multiple Registrations" onclick="test('multi')">
                                                <input type="checkbox" name="multi" value="Multiple Registration" id="multi">
                                                <div class="icon">
                                                    <i class="fa fa-group"></i>
                                                </div>
                                                <h6>Yes</h6>
                            </div>
                            </div>
                             <div class="col-sm-4">
                                 <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Single Registation?" onclick="test('single')">
                                                <input type="checkbox" name="single" value="Single Registation" id="single">
                                                <div class="icon">
                                                    <i class="fa fa-male"></i>
                                                </div>
                                                <h6>No</h6>
                                            </div>
                             </div>
                                    </div>
                                </div>
                                <br><br>
                                <h4 class="info-text">Accepting Registrations From</h4>
                                <div class="info-text">
                                    <input style="margin: 10px" type="checkbox" name="first" value="True">First Year
                                    <input style="margin: 10px" type="checkbox" name="second" value="True">Second Year
                                    <input style="margin: 10px" type="checkbox" name="third" value="True">Third year
                                </div>
                                <div class="col-sm-3 col-sm-offset-4">
                                    <input type="text" required name="prefix" minlength="3" maxlength="4" class="form-control" value="{{ event.prefix }}" placeholder="Prefix">
                                </div>
                                <br><br><br><br><br>
                            </div>
                        <div class="tab-pane" id="account">
                                <h4 class="info-text"> What are your Sub Events </h4>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-checkbox">
                                                {{ form.marketing }}
                                                <div class="icon">
                                                    <i class="fa fa-pencil"></i>
                                                </div>
                                                <h6>Marketing</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-checkbox">
                                                {{ form.finance }}
                                                <div class="icon">
                                                    <i class="fa fa-pencil"></i>
                                                </div>
                                                <h6>Finance</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-checkbox">
                                                {{ form.public_relations }}
                                                <div class="icon">
                                                    <i class="fa fa-pencil"></i>
                                                </div>
                                                <h6>Public Relations</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-checkbox">
                                                {{ form.human_resources }}
                                                <div class="icon">
                                                    <i class="fa fa-pencil"></i>
                                                </div>
                                                <h6>Human Resources</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-checkbox">
                                                {{ form.ent_dev }}
                                                <div class="icon">
                                                    <i class="fa fa-pencil"></i>
                                                </div>
                                                <h6>Entrepreneurship Development</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-checkbox">
                                                {{ form.best_manager }}
                                                <div class="icon">
                                                    <i class="fa fa-pencil"></i>
                                                </div>
                                                <h6>Best Manager</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <div class="modal fade" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            <i class="material-icons">clear</i>
                                        </button>
                                        <div  style="text-align: center;">
                                            <h4 class="modal-title">Team Size Upto?</h4>
                                            <input type="number" name="team" value="" placeholder="2-3">
                                        </div>
                                    </div>
                                    <div class="modal-body">

                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="wizard-footer height-wizard">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next' value='Next' />
                                <button type='submit' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm'>Finish </button>
                            </div>
                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
        </div><!-- end row -->
    </div> <!--  big container -->

    <div class="footer">
        <div class="container">

        </div>
    </div>

</div>

</body>

	<!--   Core JS Files   -->
	<script src="{% static 'assets/js/jquery-2.2.4.min.js'%}" type="text/javascript"></script>
	<script src="{% static 'assets/js/bootstrap.min.js'%}" type="text/javascript"></script>
	<script src="{% static 'assets/js/jquery.bootstrap.wizard.js'%}" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="{% static 'assets/js/gsdk-bootstrap-wizard.js'%}"></script>

	<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="{% static 'assets/js/jquery.validate.min.js'%}"></script>
    <script>
        function test(variable) {
            document.getElementById('single').checked = false;
            document.getElementById('multi').checked = false;
            document.getElementById(variable).checked = true;
        }
    </script>

</html>
