<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/practr_small.png'%}" />
    <link rel="icon" type="image/png" href="{% static 'assets/img/practr_small.png'%}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Performance Review</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{% static 'assets/css/material-dashboard.css'%}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'assets/css/demo.css'%}" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
</head>

<body>
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/user/student_dashboard">Practr</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/user/student_dashboard">
                            <i class="material-icons">dashboard</i> Dashboard
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper wrapper-full-page">
        <div class="full-page pricing-page" data-image="{% static 'assets/img/bg-pricing.jpeg'%}">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h2 class="title">Congratulations {{ scores.student.name }}!</h2>
                            <h5 class="description">You have succesfully completed the case {{ scores.round.title }} conducted by {{ scores.round.club.name }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        {% if round.creativity %}
                        <div class="col-md-2">
                            <div class="card card-pricing card-plain">
                                <div class="card-content">
                                    <h6 class="category">Creativity</h6>
                                    <div class="icon">
                                        <i class="material-icons">wb_incandescent</i>
                                    </div>
                                    <h3 class="card-title">{{ creativity }}%</h3>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if round.presentation %}
                        <div class="col-md-2">
                            <div class="card card-pricing card-plain">
                                <div class="card-content">
                                    <h6 class="category">Presentation</h6>
                                    <div class="icon icon-rose">
                                        <i class="material-icons">brush</i>
                                    </div>
                                    <h3 class="card-title">{{ presentation }}%</h3>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if round.content %}
                        <div class="col-md-2">
                            <div class="card card-pricing card-plain">
                                <div class="card-content">
                                    <h6 class="category">Content</h6>
                                    <div class="icon">
                                        <i class="material-icons">library_books</i>
                                    </div>
                                    <h3 class="card-title">{{ content }}%</h3>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if round.rebuttal %}
                        <div class="col-md-2">
                            <div class="card card-pricing card-plain">
                                <div class="card-content">
                                    <h6 class="category">Rebuttal</h6>
                                    <div class="icon">
                                        <i class="material-icons">question_answer</i>
                                    </div>
                                    <h3 class="card-title">{{ rebuttal }}%</h3>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if round.communication %}
                        <div class="col-md-2">
                            <div class="card card-pricing card-plain">
                                <div class="card-content">
                                    <h6 class="category">Communication</h6>
                                    <div class="icon">
                                        <i class="material-icons">record_voice_over</i>
                                    </div>
                                    <h3 class="card-title">{{ communication }}%</h3>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if round.feasibility %}
                        <div class="col-md-2">
                            <div class="card card-pricing card-plain">
                                <div class="card-content">
                                    <h6 class="category">Feasibility</h6>
                                    <div class="icon">
                                        <i class="material-icons">build</i>
                                    </div>
                                    <h3 class="card-title">{{ feasibility }}%</h3>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-md-12 text-center">
                                        <div class="col-md-12">
                                <div class="card card-testimonial">
                                    <div class="icon">
                                        <i class="material-icons">format_quote</i>
                                    </div>
                                    <div class="card-content" id="feedback">
                                        <h5 class="card-description">
                                            {{ scores.feedback }}
                                        </h5>
                                    </div>
                                    <div class="footer">
                                        <h4 class="card-title">{{ scores.round.club.name }}</h4>
                                        <div class="card-avatar">
                                            <a href="">
                                                <img class="img" src="{{ scores.round.club.logo.url }}" style="height: 180px;width: 180px;" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                            <br>
                                            <div class="alert alert-info alert-with-icon" data-notify="container">
                                        <i class="material-icons" data-notify="icon">notifications</i>
                                        <a href="/profile_page/student/{{ user.id }}/">
                                            <span data-notify="message">We have updated your profile with these scores. Click here to view!</span>
                                        </a>
                                      </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav class="pull-left">
                        
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="/home">Practr</a>, made for you.
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="{% static 'assets/js/jquery-3.1.1.min.js'%}" type="text/javascript"></script>
<script src="{% static 'assets/js/jquery-ui.min.js'%}" type="text/javascript"></script>
<script src="{% static 'assets/js/bootstrap.min.js'%}" type="text/javascript"></script>
<script src="{% static 'assets/js/material.min.js'%}" type="text/javascript"></script>
<script src="{% static 'assets/js/perfect-scrollbar.jquery.min.js'%}" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script src="{% static 'assets/js/jquery.validate.min.js'%}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="{% static 'assets/js/moment.min.js'%}"></script>
<!--  Charts Plugin -->
<script src="{% static 'assets/js/chartist.min.js'%}"></script>
<!--  Plugin for the Wizard -->
<script src="{% static 'assets/js/jquery.bootstrap-wizard.js'%}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'assets/js/bootstrap-notify.js'%}"></script>
<!-- DateTimePicker Plugin -->
<script src="{% static 'assets/js/bootstrap-datetimepicker.js'%}"></script>
<!-- Vector Map plugin -->
<script src="{% static 'assets/js/jquery-jvectormap.js'%}"></script>
<!-- Sliders Plugin -->
<script src="{% static 'assets/js/nouislider.min.js'%}"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js'%}"></script>
<!-- Select Plugin -->
<script src="{% static 'assets/js/jquery.select-bootstrap.js'%}"></script>
<!--  DataTables.net Plugin    -->
<script src="{% static 'assets/js/jquery.datatables.js'%}"></script>
<!-- Sweet Alert 2 plugin -->
<script src="{% static 'assets/js/sweetalert2.js'%}"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'assets/js/jasny-bootstrap.min.js'%}"></script>
<!--  Full Calendar Plugin    -->
<script src="{% static 'assets/js/fullcalendar.min.js'%}"></script>
<!-- TagsInput Plugin -->
<script src="{% static 'assets/js/jquery.tagsinput.js'%}"></script>
<!-- Material Dashboard javascript methods -->
<script src="{% static 'assets/js/material-dashboard.js'%}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'assets/js/demo.js'%}"></script>
<script type="text/javascript">
    $().ready(function() {
        demo.checkFullPageBackgroundImage();

        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.card').removeClass('card-hidden');
        }, 700)
    });
    $('#feedback').each(function(){
            var $this = $(this);
            var t = $this.text();
            $this.html(t.replace('&lt','<').replace('&gt', '>'));
});
</script>

</html>